.header-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: #1e1e1e;
  /* height: 50px; */
  -webkit-user-select: none;
  /* min-width: 1464px; */
  white-space: nowrap;
}

.title-text {
  color: #ffffff;
  /* margin: 0 20px; */
  /* min-width: 178px; */
}

/* .title-container {
  margin: 10px;
}

.league {
  margin: 10px;
}

.type-container {
  margin: 10px;
}

.tier-container {
  margin: 10px;
}

.price-container {
  margin: 10px;
}

.min-stock {
  margin: 10px;
}

.search-button {
  margin: 10px;
} */

.header-element {
  margin: 20px;
}

@media screen and (max-width: 1595px){
  .header-element {
    /* width: 100%; */

  }
  .header-container {
    flex-direction: column;
  }
}